<section class="jogos">
    <div class="posicionamento-jogos container d-flex justify-content-between align-itens-center">
        <a href="https://store.epicgames.com/pt-BR/"><img src="../../../assets/img/epic.png" width="100px" height="100px" alt="Epic Games"></a>
        <div class="Linha"><img src="../../../assets/img/Line 25.png" height="70%" width="10%" alt="Linha"></div>
        <a href="https://www.gog.com"><img src="../../../assets/img/gog.png" width="100px" height="100px" alt="Gog"></a>
        <div class="Linha"><img src="../../../assets/img/Line 25.png" height="100" alt="Linha"></div>
        <a href="https://store.steampowered.com/?l=portuguese"><img src="../../../assets/img/Steam.png" width="100px" height="100px" alt="Steam"></a>
        <div class="Linha"><img src="../../../assets/img/Line 25.png" height="100" alt="Linha"></div>
        <a href="https://www.eneba.com/br/"><img src="../../../assets/img/eneba.png" width="100px" height="100px" alt="Eneba"></a>
        <div class="Linha"><img src="../../../assets/img/Line 25.png" height="100" alt="Linha"></div>
        <a href="https://www.nuuvem.com/br-pt/?utm_source=google&utm_medium=cpc&utm_campaign=br-search-brand&gclid=CjwKCAiA5Y6eBhAbEiwA_2ZWIS-9KwKTAKtIMkbUgHJ5BHrSqo2Nwb93dP6tOPyPXg-QV5i3RfUWHhoCg7MQAvD_BwE"><img src="../../../assets/img/nuuvem.png" width="100px" height="100px" alt="Nuuvem"></a>
        <div class="banneremp">                        

        </div>
    
    </div>
</section>
