<section class="contato">
    <div class="logo2">
        <img class="align-itens-center d-flex" src="../../../assets/img/logo.png">
        </div>
        <h1 class="Eme">Receba novidades no seu e-mail!</h1>
        <form class="email" action="">
          <input id="campo-email" type="text" placeholder="E-mail" required>
          <button onclick="cadastrarNewsletter()">Cadastrar</button>
      </form>

          <h1 class="Rd">Redes Sociais</h1>
          <a href=""><img class="tt" src="../../../assets/img/image 12.png" alt=""></a>
          <a href=""><img class="insta" src="../../../assets/img/image 13.png" alt=""></a>
          <a href=""><img class="face" src="../../../assets/img/image 14.png" alt=""></a>

        <div class="LinkC">
          <h1 class="Links">Links Úteis</h1>
          <a href=""><h2 class="CdA">Central de Ajuda</h2></a>
          <a href=""><h2 class="Ctt">Contato</h2></a>
          <a href=""><h2 class="Att">Atualizações</h2></a>
          <a href=""><h2 class="Pag">Pagamentos</h2></a>
        </div>  

        <div class="paginas">
          <a href=""><h1 class="pag">Páginas</h1></a>
          <a href=""><h2 class="It">Itens</h2></a>
          <a href=""><h2 class="Comp">Compras</h2></a>
          <a href=""><h2 class="Sob">Sobre</h2></a>
          <a href=""><h2 class="Atd">Atendimento</h2></a>
        </div>
</section>

