.Eme{
    position: absolute;
    left: 61px;
    bottom: 190px;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #000000;
}

.Rd{
    position: absolute;
left: 60px;
bottom: 20px;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 35px;

color: #000000;

}

.tt{
    position: relative;
    left: 240px;
    top: 40px;
}

.insta{
    position: relative;
    left: 250px;
    top: 40px;
}

.face{
    position: relative;
    left: 260px;
    top: 40px;
}

.navbar{
    position: relative;
    
}

.Links{
    position: absolute;
left: 9.72%;
left: 1050px;
top: 50px;
bottom: 7.25%;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 37px;

color: #000000;
}

.pag{
    position: absolute;
    left: 900px;
    top: 50px;
bottom: 7.25%;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 37px;

color: #000000;
}

.CdA{
    
position: absolute;
left: 1065px;
bottom: 130px;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;
}

.Ctt{
    
position: absolute;
left: 1065px;
bottom: 110px;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;
}

.Att{
    
position: absolute;
left: 1065px;
bottom: 90px;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;
}

.Pag{
    
position: absolute;
left: 1065px;
bottom: 70px;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;
}

.It{
    position: absolute;
    left: 910px;
    top: 90px;
    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    color: #000000;
    
}

.Comp{
    position: absolute;
    left: 910px;
    top: 110px;
    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    color: #000000;
    
}

.Sob{
    position: absolute;
    left: 910px;
    top: 130px;
    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    color: #000000;
    
}

.Atd{
    position: absolute;
    left: 910px;
    top: 150px;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;

}

.email{
    position: relative;
    left: 50px;
    bottom: 57px;
}

.contato{
    height: 256px;
    position: relative;
    top: 200px;
    border: 1px solid #000000;
}

.logo2{
    position: relative;
    margin: auto;
    display: block;
    width: 15%;
    height: 121px;
    padding: 25px;
    top: 70px;
}

@media screen and (max-width: 500px) {
    .contato{
        top: 500px;
    }
    
    .logo2{
        right: 70px;
    }
}