<section class="indie">
    <img class="fundo" src="../../../assets/img/image.png" height="56.92px" width="30%" alt="">
    <h2>O QUE SÃO JOGOS INDIES?</h2>
    <h1>Jogos indies, como também são chamados os jogos independentes, cresceram muito nos últimos anos. Se antigamente eles eram conhecidos como produtos de “segunda” e jogos de baixo orçamento, hoje são referência na indústria de games e também na forma como a relação comercial funciona – o que gerou até mesmo a produção de um filme/documentário sobre este mercado, o Indie Game: The Movie.</h1>
    <h3>Jogos indies, como também são chamados os jogos independentes, cresceram muito nos últimos anos. Se antigamente eles eram conhecidos como produtos de “segunda” e jogos de baixo orçamento, hoje são referência na indústria de games e também na forma como a relação comercial funciona – o que gerou até mesmo a produção de um filme/documentário sobre este mercado, o Indie Game: The Movie.
        Segundo o site TechTudo</h3>
    <img class="indieimg" src="../../../assets/img/Sobre.png" alt="">
   
</section>
