<section class="jogosc">
                
    <div class="banner-jogos">
        <img class="align-itens-center d-flex" width="100%" src="../../../assets/img/MAIS PROCURADOS.png">
    </div>
    
    <div class="cardsb">
    <div class="cardb" style="width: 18rem;">
        <img src="../../../assets/img/hk.png" class="card-img-top" alt="Hollow Knight">
        <div class="card-body">
          <h5 class="card-title">Hollow Knight</h5>
          <p class="card-text">DESCRIÇÃO DO JOGO</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>


    <div class="cardsb">
        <div class="cardb" style="width: 18rem;">
            <img src="../../../assets/img/dc.png" class="card-img-top" alt="Dead Cells">
            <div class="card-body">
              <h5 class="card-title">Dead Cells</h5>
              <p class="card-text">DESCRIÇÃO DO JOGO</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>

        <div class="cardsb">
            <div class="cardb" style="width: 18rem;">
                <img src="../../../assets/img/hades.png" class="card-img-top" alt="Hades">
                <div class="card-body">
                  <h5 class="card-title">Hades</h5>
                  <p class="card-text">DESCRIÇÃO DO PRODUTO</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
            </div>

            <div class="cardsb">
                <div class="cardb" style="width: 18rem;">
                    <img src="../../../assets/img/jn.png" class="card-img-top" alt="Journey">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">DESCRIÇÃO DO PRODUTO</p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
                </div>

                <div class="cardsb">
                    <div class="cardb" style="width: 18rem;">
                        <img src="../../../assets/img/hp.png" class="card-img-top" alt="Hyper Light Drifter">
                        <div class="card-body">
                          <h5 class="card-title">Hyper Light Drifter</h5>
                          <p class="card-text">DESCRIÇÃO DO PRODUTO</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                    </div>

                    <div class="cardsb">
                        <div class="cardb" style="width: 18rem;">
                            <img src="../../../assets/img/ch.png" class="card-img-top" alt="CupHead">
                            <div class="card-body">
                              <h5 class="card-title">CupHead</h5>
                              <p class="card-text">DESCRIÇÃO DO PRODUTO</p>
                              <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                        </div>

<div class="cards container d-flex justify-content-between align-itens-center">
    <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/hk.png" class="card-img-top" alt="HK">
    <div class="card-body">
     <h5 class="card-title">Hollow Knight</h5>
    <p class="card-text">
        DESCRICAO DO PRODUTO

    </p>
    <h1 class="precoum">R$27,99</h1>
    <a href="pages/produtos.html" class="btn btn-primary">Comprar</a>
    </div>
    </div>
    

    <div class="card " style="width: 18rem;">
        <img src="../../../assets/img/dc.png" class="card-img-top" alt="DC">
        <div class="card-body">
         <h5 class="card-title">Dead Cells</h5>
        <p class="card-text">
            DESCRICAO DO PRODUTO

        </p>
        <h1 class="precoum">R$47,49</h1>
        <a href="pages/produtos.html" class="btn btn-primary">Comprar</a>
        </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/hp.png" class="card-img-top" alt="HP">
            <div class="card-body">
             <h5 class="card-title">Hyper Light Drifter</h5>
            <p class="card-text">
                DESCRICAO DO PRODUTO

            </p>
            <h1 class="precoum">R$47,49</h1>
            <a href="pages/produtos.html" class="btn btn-primary">Comprar</a>
            </div>
            </div>

</div>

<div class="CardsD container d-flex justify-content-between align-itens-center"> 
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/ch.png" class="card-img-top" alt="HP">
        <div class="card-body">
         <h5 class="card-title">CupHead</h5>
        <p class="card-text">
            DESCRICAO DO PRODUTO

        </p>
        <h1 class="precoum">R$47,49</h1>
        <a href="pages/produtos.html" class="btn btn-primary">Comprar</a>
        </div>
        </div>

<div class="card" style="width: 18rem;">
    <img src="../../../assets/img/hades.png" class="card-img-top" alt="HP">
    <div class="card-body">
     <h5 class="card-title">Hades</h5>
    <p class="card-text">
        DESCRICAO DO PRODUTO

    </p>
    <h1 class="precoum">R$47,49</h1>
    <a href="pages/produtos.html" class="btn btn-primary">Comprar</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/jn.png" class="card-img-top" alt="HP">
        <div class="card-body">
         <h5 class="card-title">Journey</h5>
        <p class="card-text">
            DESCRICAO DO PRODUTO

        </p>
        <h1 class="precoum">R$47,49</h1>
        <a href="pages/produtos.html" class="btn btn-primary">Comprar</a>
        </div>
        </div>
</div>


</section>
